@model Trawick.Rest.Controllers.FormData


@{
	ViewBag.Title = "Home Page";
}



<br /><br />
<div>
	@if (ViewBag.Message != null)
	{
		<div class="alert alert-danger" role="alert">
			@ViewBag.Message
		</div>
	}
	else
	{
		<h4>I need a password</h4>
	}


	@using (Html.BeginForm("TestPassword", "Home", FormMethod.Post))
	{
		<div class="form-group">
			@Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
		</div>

		<button type="submit" class="btn btn-primary">Submit</button>
	}
</div>